.container {
  border: 1px solid red;
  padding: 4em;
  grid-column: 2 / -2;
}

.question-card {
  border-bottom: 1px solid #dbdef0;
  padding-block: 2em;
}

h2 {
  font-size: 1.25rem;
}

.answers-container {
  margin-top: 1.5em;
  display: flex;
}

label {
  margin-right: 1.25em;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  padding: 5px 20px;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: green;
}
